body {
    background-color: #CCCCCC;
}

.contain {
    width: 100%;
    height: 500px;
    margin-top: 10%;
}

.calculate {
    background-color: #666666;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 5px;
    width: 500px;
    border-radius: 40px;

    -mox-box-shadow: 0 0 40px #000000;
    -webkit-box-shadow: 0 0 40px #000000;
    box-shadow: 0 0 40px #000000;
}

.buttons {
    width: 100%;
    text-align: center;
    margin:10px;
}

.button {
    float: left;
    margin: 5px;
    padding-top: 12.5px;
    width: 86px;
    background: #111111;
    cursor: pointer;
    height: 47.5px;
    border-radius: 15px;
    font-size: 25px;

    -mox-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.screen {
    margin: 10px;
    text-align: right;
    font-size: 40px;
    border: none;
    height: 60px;
    width: 480px;
    background-color: #999999;
    border-radius: 10px;

    -mox-box-shadow: 0 0 10px #000000 inset;
    -webkit-box-shadow: 0 0 10px #000000 inset;
    box-shadow: 0 0 10px #000000 inset;
}
